body{
    margin: 0px;
}
.menu{
    align-items: baseline;
    color: rgb(59, 177, 192);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 70px;
    padding-bottom: 30px;
    height: 25px;
    background-color: white;
}
.right{
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items:baseline;
}
strong{
    font-size: 27px;
    color: rgb(59, 177, 192);
}
.left{
    display:flex;

}
.p1{
    background-image: url(/webcover2.jpg);
    background-size:contain;    
}
.innerp1{ 
    position: relative;
    left: 700px;
    top: 170px;
    width: 400px;
    height: 605px;
    text-align: center;
    color: white;
    margin: 0px;
}
button{
    margin-top: 5px;
    font-family: century gothic;
    padding: 10px 20px;
    font-size: large;
    border-radius: 25px;
    background-color: white;
    border: none;
}
button:hover{
    background-color: rgb(202, 202, 202);
    transition: 0.6s;
}
a{
    text-decoration: none;
    color:rgb(59, 177, 192) ;
}
.p2{
    background-image: url(/p2.jpg);
    background-size:contain;    
}
.innerp2{ 
    position: relative;
    left: 100px;
    top: 170px;
    width: 400px;
    height: 620px;
    text-align: center;
    color: white;
    margin: 0px;
}
.side{
    position: fixed;
    top: 40%;
    right: 10px;
}
.p3{
    display: flex;
}
.p31{
    background-image: url(/p3-1.jpg);
    background-size: contain;
}
.p32{
    background-image: url(/p3-2.jpeg);
    background-size: contain;
}
.innerp31{
    padding: 120px;
    color: white;
    font-family: century gothic;
    text-align: center;
}
.innerp32{
    padding: 100px 120px;
    padding-right: 200px;
    font-family: century gothic;
    text-align: center;
}
.p3button{
    margin-top: 5px;
    font-family: century gothic;
    padding: 5px 10px;
    font-size:small;
    border-radius: 25px;
    background-color: rgb(0, 160, 160);
    border: none;   
}
.time{
    display: flex;
    justify-content:center;
}
.p4{
    background-color: rgba(0, 194, 194, 0.918);
    text-align: center;
    color: white;
    padding: 100px;
}
.t1{
    margin:20px 3px;
    width: 150px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 5px;
}
.b{
    width: 100px;
    background-color: gray;
}
.p5{
    display: flex;
}
.p51{
    background-image: url(/p3-2.jpeg);
    background-size: contain;
}
.innerp52{
    display: flex;
    padding: 100px 120px;
    padding-right: 200px;
    font-family: century gothic;
    text-align: center;
}
.innerp51{
    padding: 100px 200px 100px 50px;
    font-family: century gothic;
    text-align:right;
}